:javascript
  standardQuestion({id: 'commercialHeatingTechnology', sectors: [44, 45], numberOfPossibleTrajectories: [4,4]})
  
%h1 How should offices be heated?

%p
  %b Needs updating

#commercialHeatingTechnology
  %table
    %tr
      %th
      %th Gas or biogas boiler
      %th Coal or biomass boiler
      %th Resistive electric heater
      %th Air-source heat pump
      %th Ground-source heat pump
      %th In home stirling engine micro-CHP
      %th In home fuel-cell micro-CHP
      %th Gas or biogas CHP connected through local district heating network
      %th Coal or biomass CHP connected through a district heating network
      %th Geothermal heat connected through a local district heating network
      %th District heating network connected to a large power station
    %tr.trajectory.trajectory11
      %td Mainly gas or biogas boilers
      %td 90%
      %td
      %td 10%
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr.trajectory.trajectory12
      %td District heating, mainly powered by coal or biomass CHP.
      %td
      %td 24%
      %td
      %td
      %td
      %td 5%
      %td
      %td
      %td 63%
      %td 1%
      %td 7%
    %tr.trajectory.trajectory13
      %td District heating, powered by a mixture of coal CHP, biomass CHP, some gas CHP and power station heat
      %td 
      %td 19%
      %td
      %td
      %td
      %td 10%
      %td
      %td 24%
      %td 35%
      %td 1%
      %td 11%
    %tr.trajectory.trajectory14
      %td District heating, powered by a mixture of coal CHP, biomass CHP, gas CHP and power station heat
      %td
      %td 19% 
      %td
      %td
      %td
      %td 10%
      %td
      %td 30%
      %td 33%
      %td 1%
      %td 7%
    %tr.trajectory.trajectory21
      %td Gas or biogas powered fuel cell micro CHP in people's homes
      %td
      %td 10% 
      %td
      %td
      %td
      %td
      %td 90%
      %td
      %td
      %td
      %td
    %tr.trajectory.trajectory
      %td 
      %td
      %td 
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr.trajectory.trajectory
      %td 
      %td
      %td 
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr.trajectory.trajectory
      %td 
      %td
      %td 
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr.trajectory.trajectory
      %td 
      %td
      %td 
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr.trajectory.trajectory
      %td 
      %td
      %td 
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
