:javascript
  standardQuestion({id: 'homeLightingAndAppliances', sectors: [37], numberOfPossibleTrajectories: [4]});
  standardQuestion({id: 'homeCooking', sectors: [38], numberOfPossibleTrajectories: [2]})

%h1 What happens to home lighting and appliances?

.figure
  %img{src:'/images/question37/fridge.png'}
  .caption Figure 1. Under level 4 assumptions our fridges would use one-fifth of the energy that they do today. Photo © Lara Love.
.figure
  %img{src:'/images/question37/bulbs.png'}
  .caption Figure 2. Under level 4 assumptions, all household lights would use high efficiency LEDs. Photo © Geoffrey Landis.
        
%p Domestic ownership of lighting and appliances such as refrigerators, ovens, televisions and computers is steadily increasing. Many such devices are more energy efficient than in the past. Around half of all light bulbs are now more efficient than incandescent models, and the average energy consumed per appliance is falling. 

%p In the 2050 Calculator the lighting and appliance sector’s future energy use is determined by two factors: demand and efficiency (described here) and technology change (described in a separate note).

#homeLightingAndAppliances
  .trajectory.trajectory1
    %b Level 1
    assumes that energy demand per household declines 20% between 2007 and 2050. There is a general trend towards more energy-efficient equipment, but this is partially counteracted by extra electronics and computers in each home.
    
  .trajectory.trajectory2
    %b Level 2
    assumes that demand per household declines 34% by 2050. This involves replacing all appliances with efficient alternatives and using energy displays to monitor and manage home energy consumption.
    
  .trajectory.trajectory3
    %b Level 3
    assumes that demand per household declines by 61% by 2050. This involves replacing all lighting with very efficient light emitting diodes (LEDs); appliance manufacturers taking substantial extra steps to improve the energy efficiency of their equipment; and consumers being smarter about how and when they use equipment.
    
  .trajectory.trajectory4
    %b Level 4
    assumes that demand per household declines by 73% by 2050. This involves both technological breakthroughs in the efficiency of equipment and substantial care and attention by householders in how they use energy.  Equipment manufacturers take widescale action to reduce power consumption by their products.

%h1 Electrification of home cooking

.figure
  %img{src:'/images/question38/oldhob.png'}
  .caption Figure 1. Trajectory A assumes that the current mix of electric and gas cooking continues. This picture is of a 1934 gas oven. Photo © Arpington.      

.figure
  %img{src:'/images/question38/electrichob.png'}
  .caption Figure 2. An electric induction hob. Photo © Eric1980 
    
%p Currently all lighting and most appliances are powered by electricity; for cooking there is a choice between gas and electricity. In 2007, 37% of domestic cooking were gas-powered, with the rest being electrified.  

%p In the 2050 Calculator the lighting and appliance sector’s future energy use is determined by two factors: electrification (described here) and demand and efficiency (described on another page). The changes here represent different choices rather than an increasing scale of effort. They cannot be compared with the Levels 1-4 in other sectors and have therefore been labelled as Trajectories A and B instead.

#homeCooking
  .trajectory.trajectory1
    %b Trajectory A:
    assumes that in 2050 the cooking technology mix remains the same as in 2007; 37% of domestic cooking is by gas and the rest is by electricity.
    
  .trajectory.trajectory2
    %b Trajectory B
    assumes that in 2050 all domestic cooking is electrified. Gas hobs and ovens have been replaced with traditional electric, induction or microwave alternatives.
    
#interaction
  %h2 Interaction with other choices

  %p The 2050 Calculator allows biogas to be used to replace natural gas in cooking. This option can be chosen by dedicating land to biocrops and then choosing to turn those biocrops into gaseous fuel. However biogas is very limited in quantity and there are many other competing uses for biofuels across the transport, heating and electricity generation sectors.  
