:javascript
  standardQuestion({id: 'ukFossilFuelProduction', sectors: [52], numberOfPossibleTrajectories: [4]})

%h1 How much of the UK's fossil fuel reserves should we exploit?

%p
  %b Need to fill this out

#ukFossilFuelProduction
  .trajectory.trajectory1
    %b Level 1
    
  .trajectory.trajectory2
    %b Level 2
    
  .trajectory.trajectory3
    %b Level 3
    
  .trajectory.trajectory4
    %b Level 4
