.trajectory {
  padding: 5px;
  border: solid 2px #fff;
  cursor: pointer;
}

.chosen {
  border: solid 2px #ccc;
  background-color: #eee;
}

.highlight {
  border: solid 2px #a99900;
  background-color: #f3dc00;
}

.figure {
  float: right;
  max-width: 30%;
  margin-left: 10px;
  background-color: #fff;

  img, .caption {
    max-width: 100%;
  }

}

