body {
  background-color: #f6f6f6;
}

#implications {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #000;
  background-color: #fff;
  padding: 15px;
}

#onepage {
  margin-left: 50px;
  margin-right: 50px;
  border: solid 1px #000;
  background-color: #fff;
  padding: 15px;

  h1 {
    text-align: center;
  }
}

