#left
  #introduction
    %h1 Volume of waste and recycling
    
    %p In 2007 the UK produced around 119 Mt of non-agricultural wastes, including industrial waste, wood waste, sewage sludge and other sources. In the same year, around 58 TWh/y of energy was generated from waste facilities, landfill gas, sewage gas and non-biodegradable waste.

    %p The best use of waste is not necessarily energy recovery. Agricultural materials such as manure and slurry and loose wood from forests are useful for land management and livestock management choices. 

    %p The changes here represent different choices rather than an increasing scale of effort. They cannot be compared with the Levels 1-4 in other sectors and have therefore been labelled as Trajectories A-C instead.
    
    
  #choices
    .choice#choice1
      %h2 Trajectory A
      .description
        %p Trajectory A assumes that between 2007 and 2050 the quantity of non-agricultural waste increases nearly 60%. The levels of waste going to landfill increase but the waste contains less biodegradable material. 196 TWh/y of primary energy is generated in 2050.
      
    .choice#choice2
      %h2 Trajectory B
      .description
        %p Trajectory B assumes that the quantity of waste increases by 30% between 2007 and 2050. Recycling and energy recovery levels increase and the waste going to landfill is significantly reduced. This trajectory maximises energy from waste. It is assumed that around 1000 towns in the UK have their own waste-to-energy facility, each receiving on average 300 tonnes of waste per day. A large improvement in collection and processing of waste is assumed by 2050:  41% of residential, commercial, industrial and construction waste is used for energy (compared with 9% today) and 68% of methane from landfill sites is used for energy (compared with 30% today). 85% of sewage gases are used for energy in 2050 (compared with 75% today). Overall 212 TWh/y is generated in 2050.
      
    .choice#choice3
      %h2 Trajectory C
      .description
        %p Trajectory C assumes that the quantity of waste remains the same as in 2007. Biodegradable waste going to landfill is eliminated, with most waste recycled. This maximises the level of waste that is avoided, reused and recycled. 
        134 TWh/y is generated in 2050.

        For comparison, Denmark’s use of waste for energy in 2008 was 11 TWh/y, including both agricultural and non-agricultural waste, but not straw or wood. Scaled to the UK population, that level of waste-to-energy is equivalent to 122 TWh/y in the UK.
      
  #interaction
  
#right
  #chart
  .figure
    %img{src:'/images/question19/selchp.png'}
    .caption Figure 1. The South East London Combined Heat and Power plant, SELCHP, takes about 1100 tonnes of black-bag waste per day and delivers about 31 MW of electricity. Photo © Bill Bertram.
  .figure
    %img{src:'/images/question19/wastemap.png'}
    .caption Figure 2. The 262 blue dots each represent a waste facility capable of taking as much waste as the SELCHP plant above and either recycling it or converting it into energy. This is the scale required to process UK waste in trajectory C, although the locations are illustrative.
