#left
  #introduction
    %h1 Types of fuel from bioenergy
    
    %p In the 2050 Calculator, the amount of bioenergy available for use is determined by the ‘Land dedicated to bioenergy’, ‘Marine algae’, ‘Volume of waste and recycling’ and ‘Bioenergy imported’ options (described on other pages). Biomass created through the first three of these levers is turned into bioenergy according to the options described here. Bioenergy imports are already usable as fuels.

    %p Some types of biomass can only become particular fuels. For example landfill gas and manure are always turned into biogas, and first generation energy crops (crops usually used as fuel  or animal feeds sources) are always turned into liquid bioenergy. 

    %p Other types of biomass can be turned into several different biofuels, and the Calculator allows the user to choose which fuel. By chosing  between Trajectories A, B, C or D you choose whether second generation energy crops (derived from non-food crops), wood, algae and waste are turned into either solid,  liquid or gas bioenergy. Table 1 shows the  conversion efficiencies for 2020-2050, with lower efficiencies assumed before 2020.
    
  #choices
    .choice#choice1
      %h2 Trajectory A – Mixed fuels
      .description
        %p Wood from forests, straw, and dry waste from residential, commercial and industrial waste are turned into solid bioenergy. Sewage, algae and the wet waste from residential, commercial and industrial waste are turned into gaseous bioenergy. Second generation energy crops are turned into liquid bioenergy.
        
      = structured_results 1

    .choice#choice2
      %h2 Trajectory B – Solid fuels
      .description
        %p Wood from forests, straw, dry waste and second generation energy crops are turned into solid bioenergy. Sewage, algae and wet waste are turned into gaseous bioenergy.
      = structured_results 2

    .choice#choice3
      %h2 Trajectory C – Liquid fuels
      .description
        %p All biomass apart from manure and landfill gas is turned into liquid bioenergy.
      = structured_results 3    

    .choice#choice4
      %h2 Trajectory D – Gaseous fuels
      .description
        %p All biomass apart from first generation biocrops is turned into gaseous bioenergy.
      = structured_results 4

  #interaction
    %h2 Interaction with other choices
    %p The Calculator assumes that solid bioenergy can be used in any situation that uses coal (such as a coal power station), liquid bioenergy can be used in any situation that uses oil (such as a car engine), and gaseous bioenergy can be used in any situation that uses natural gas (such as heating).

    %p When the user selects options which need coal in the 2050 Calculator, the fuels available are used up in a particular order. This order of fuel preference is:
    
    %ol
      %li Domestic biomass
      %li Imported biomass
      %li Domestic coal
      %li Imported coal 
    
    %p If there is not enough of one fuel type available then the Calculator uses the next category until enough fuel has been found. The same order of preference is assumed for oil and liquid bioenergy, and also for natural gas and gaseous bioenergy, where bioenergy is used ahead of fossil fuel sources when it is available.
    
    
#right
  #chart
    .figure
      %table
        %tr
          %th Raw biomass input	
          %th{:colspan => 3} Final biofuel output
        %tr
          %th
          %th Solid biomass
          %th Liquid biofuel
          %th Biogas
        %tr
          %td Algae and wet waste
          %td x
          %td 38%
          %td 85%
        %tr
          %td Straw, forests and dry waste
          %td 95%
          %td 45%
          %td 66%
        %tr
          %td 2nd generation energy crops
          %td 95%
          %td 45%
          %td 66%
        %tr
          %td 1st generation energy crops
          %td x
          %td 32%
          %td x
        %tr
          %td Gaseous waste
          %td x
          %td x
          %td 100%
        
      .caption
        Table 1. The conversion efficiencies when different types of biomass are turned into solid, liquid or gaseous biofuel, showing the percentage of the energy that is retained. x indicates that a particular conversion route is not possible. The assumptions above apply for the period 2020-2050, with lower efficiencies assumed up to 2020.
