#left
  #introduction
    %h1 Storage, Demand Shifting and Interconnection
        
    %p To avoid power outages, electricity demand needs to balance with electricity supply at all times. This is a tricky task as both demand and some forms of supply fluctuate throughout any day, over a week and between the seasons. Some electricity generation fluctuates more than others, as for example the supply from many renewables depends on the weather conditions. 

    %p At present the UK has a number of tools to balance the electricity network, including the UK’s 2 GW interconnector with France. During 2007 the UK imported 8.6 TWh and exported 3.4 TWh. In addition the UK has 3.5 GW of pumped storage, with the largest site being Dinorwig in North Wales which has a storage capacity of around 9 GWh and a peak output of around 2 GW. There is very limited ability to shift demand in a co-ordinated way: a few large industrial electricity users are on interruptible contracts, receiving  discounts in return for being switch-offable if the grid has a shortfall in supply. In the future we could have a smart grid that could shift the timing of millions of pieces of demand, to help balance the grid.

  #choices
    .choice#choice1
      %h2 Level 1
      .description
        %p Level 1 assumes that by 2050 the UK has developed 3.5 GW of storage and 4 GW of interconnectors. Smart demand shifting is not implemented.
      = structured_results 1

    .choice#choice2
      %h2 Level 2
      .description
        %p Level 2 assumes that by 2050 the UK has developed 4 GW of storage, with a storage capacity of 30 GWh, and 10 GW of interconnectors. Around 25% of all electric vehicles and plug-in hybrid electric vehicles allow flexible charging, enabling co-ordinated electricity demand shifting.
      = structured_results 2

    .choice#choice3
      %h2 Level 3
      .description
        %p Level 3 assumes that by 2050 the UK has developed 7 GW of storage, with a storage capacity of 100 GWh, and 15 GW of interconnectors. This level also assumes that around 50% of electric cars allow flexible charging for co-ordinated demand shifting.
      = structured_results 3    

    .choice#choice4
      %h2 Level 4
      .description
        %p Level 4 assumes that by 2050 the UK has 20 GW of storage, with a storage capacity of 400 GWh, and 30 GW of interconnectors. This level also assumes that around 75% of electric cars allow flexible charging for co-ordinated demand shifting.
      = structured_results 4

  #interaction
    %h2 Interaction with other choices
    %p The renewable technologies chosen (in particular onshore wind, offshore wind and wave power), the degree to which heating is electrified, and the number of electric cars chosen under the transport option determine what the requirement for back-up generation is and how much demand shifting is possible.
    
#right
  #chart
    .figure
      =image_tag 'structuredQuestions/question51/dinorwig.png'
      .caption Figure 1. Part of the Dinorwig hydroelectric power station, a system that stores energy by pumping 6.7 million m3 of water up around 500 metres and then releasing it to supply 9 GWh of energy at a rate of around 2 GW. Photo © Denis Egan.