#left
  #introduction
    %h1 Livestock and their management

    %p In 2007, there were over 220 million livestock animals, including nearly 2 million dairy cows. The 2050 Calculator contains two options relating to agricultural biomass and land use: livestock management (described here) and land use management (described on another page).

  #choices
    .choice#choice1
      %h2 Level 1
      .description
        %pLevel 1 assumes that, by 2050, domestic food production takes priority imports, with livestock numbers increased by 10% over 2010 levels. This means approximately 200 000 more cows grazing on UK grass in 2050.
      = structured_results 1

    .choice#choice2
      %h2 Level 2
      .description
        %p Level 2 assumes that livestock numbers remain constant through to 2050. However due to manure yields increasing by 0.2% per year, more energy from waste is generated from agricultural by-products.
      = structured_results 2

    .choice#choice3
      %h2 Level 3
      .description
        %p Level 3 assumes that livestock numbers reduce by 10% by 2050. This is effectively the converse of level 1, and means there are approximately 200 000 fewer cows in the UK by 2050.
      = structured_results 3    

    .choice#choice4
      %h2 Level 4
      .description
        %p Level 4 assumes a significant shift away from livestock production in the UK, potentially caused by us eating less meat, by switching from beef to less land-intensive meats such as chicken, or increasing the agricultural focus on bioenergy. Livestock numbers decline by 25% on 2010 levels, equivalent to 390 000 fewer cows by 2050.
      = structured_results 4

  #interaction

#right
  #chart
    .figure
      =image_tag 'structuredQuestions/question18/hereford.png'
      .caption Figure 1. A Hereford Bull. The 2050 Calculator assumes that every cow produces 400 oven dried kg of manure each year. Photo © US Department of Agriculture.
