#left
  #introduction
    %h1 [CHOICE NAME]

    %p [INTRODUCTION]

  #choices
    .choice#choice1
      %h2 Level 1/A
      .description
        %p [LEVEL1]
      = structured_results 1

    .choice#choice2
      %h2 Level 2/B
      .description
        %p [LEVEL1]
      = structured_results 2

    .choice#choice3
      %h2 Level 3/C
      .description
        %p [LEVEL1]
      = structured_results 3    

    .choice#choice4
      %h2 Level 4/D
      .description
        %p [LEVEL1]
      = structured_results 4

  #interaction
    %h2 Interaction with other choices
    %p [INTERACTION]

#right
  #chart
