#left
  #introduction
    %h1 Preference for fuel cells or for batteries
    
    %p
      %b THIS PAGE NEEDS WRITING

  #choices
    .choice#choice1
      %h2 Level 1
      .description
        %p Of the vehicles that aren't powered by oil or biofuel, all will be battery-electric. None will use hydrogen fuel cells. 
      
    .choice#choice2
      %h2 Level 2
      .description
        %p Of the vehicles that aren't powered by oil or biofuel, 80% will be battery-electric. 20% will use hydrogen fuel cells. 
      
    .choice#choice3
      %h2 Level 3
      .description
        %p Of the vehicles that aren't powered by oil or biofuel, 80% will be battery-electric. 20% will use hydrogen fuel cells. 
      
    .choice#choice4
      %h2 Level 4
      .description
        %p Of the vehicles that aren't powered by oil or biofuel, all will use hydrogen fuel cells. 
      
  #interaction
    

#right
  #chart
