!!!
%html{lang: 'en'}
  %head
    %title 2050 Pathways Calculator
    = stylesheet
    = javascript
%body
  #implications
    %table
      %tr
        %td Greenhouse gas emissions: 
        %td#ghgSparkline
        %td MtCO2e/yr
  #questions
  %a#previous_sector{href:"#"} Previous question
  %a#next_sector{href:"#"} Next question
