!!!
%html{lang: 'en'}
  %head
    %title 2050 Pathways Calculator
    = stylesheet
    = javascript
%body
  #twentyfiftybanner
    %a.current{ href: 'http://www.gov.uk/2050-pathways-analysis' } The UK 2050 Calculator
    %a{ href: 'http://2050-calculator-tool.decc.gov.uk' } Classic
    %a.current{ href: '/' } 42 Questions
    %a{ href: 'http://my2050.decc.gov.uk/' } Flash
    %a{ href: 'http://2050-calculator-tool-wiki.decc.gov.uk/pages/140' } Excel
    %a{ href: 'http://2050-calculator-tool-wiki.decc.gov.uk/' } Wiki
  
  %table#pathway
    %tr
      %td#choices
        %table#code
      %td#implications
        #cost
        #demand
        #supply
        #emissions
      
  #questions

  %a#previous_sector{href:"#"} Previous question
  %a#next_sector{href:"#"} Next question
