!!!
%html{lang: 'en'}
  %head
    %title 2050 Pathways Calculator
    = stylesheet
    = javascript
%body
  #implications
  #onepage
  %a#previous_sector{href:"", onclick: 'window.previousQuestion(); return false;'} 
    Previous sector
  %a#next_sector{href:"", onclick: 'window.nextQuestion(); return false;'} 
    Next sector
